wget
numpy
pandas
spacy
https://huggingface.co/spacy/en_core_web_sm/resolve/main/en_core_web_sm-any-py3-none-any.whl
nltk
emot
torch
transformers
streamlit==1.16.0
language-tool-python
tqdm
streamlit-option-menu
transformers
accelerate
