wget
numpy
pandas
spacy
pip
git+https://github.com/ThenTszeYen/preprocess_text.git
https://huggingface.co/spacy/en_core_web_sm/resolve/main/en_core_web_sm-any-py3-none-any.whl
nltk
emot
lime
torch
transformers
accelerate
streamlit==1.16.0
streamlit-option-menu
language-tool-python
tqdm
fuzzywuzzy
Pillow
